<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Local Support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h1>Find local NAMI Support</h1>

    <p>
      Find local NAMI support and contact information for
      Thurston and Mason counties.
    </p>


    @for (support of localSupport; track $index){
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ support.name }}</ion-card-title>
        <ion-card-subtitle>{{ support.type }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <h2>Office Hours</h2>
        <p>Office hours will be displayed here.</p>
        <h2>Phone</h2>
        <p>{{ support.phone }}</p>
        <h2>Location</h2>
        <p>{{ support.address }}</p>
        <h2>Website</h2>
        <p>{{ support.website }}</p>

        <br>
        <br>


        <h2>Find Support Near You</h2>

        <p>
          Use your location to find nearby NAMI support and contact information
        </p>

        <ion-button (click)="findNearestSupport()">
          Find Nearby Support
        </ion-button>

        <p>{{ supportMessage }}</p>


      </ion-card-content>
    </ion-card>
    }
  </div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">local-support</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>