.menu-toolbar {
  --background: #005eb8;
  --color: white;
}

ion-menu {
  --width: 280px;
}

ion-menu ion-content {
  --background: #ffffff;
}

ion-menu ion-item {
  --background: transparent;
  --color: #1f2937;
  --padding-start: 18px;

  font-size: 16px;
  font-weight: 500;
}

ion-menu ion-item:hover {
  --background: #f1f5f9;
}

ion-menu ion-label {
  cursor: pointer;
}