<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>NAMI Thurston-Mason</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h1>Welcome</h1>

    <p>
      Find local support, programs,
      and resources for Thurston and Mason Counties.
    </p>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Find Local Support</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>
          Find local NAMI contant, office, and location information.
        </p>

        <ion-button routerLink="/local-support">
          Find Support
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Resources</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>
          Access mental health, crisis, and community resources.
        </p>

        <ion-button routerLink="/resources">
          View Resources
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>